#root {
  --primary-color: #3498db; /* Blue */
  --secondary-color: #2ecc71; /* Green */
  --accent-color: #f39c12; /* Yellow/Orange */
  --background-color: #f0f2f5; /* Light grayish white */
  --text-color: #333333; /* Dark gray for text */
  --button-color: #e74c3c; /* Red */
  --link-color: #2980b9; /* Lighter blue for links */

  margin: 0;
  text-align: center;
  box-sizing: border-box;
}

.card {
  padding: 2em;
}

a {
  text-decoration: none;
}

.page-title {
  color: var(--background-color);
}

h3 {
  font-size: 1.5rem;
  margin-bottom: -1.5rem;
}

header {
  height: 5rem;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .card-container {
    display: flex;
    flex-direction: row; /* Align items horizontally */
    gap: 2rem; /* Add space between the image and text */
    align-items: flex-start; /* Align items at the top */
  }

  .card-image {
    flex: 1; /* Allow the image to take up one part of the space */
    max-width: 40%; /* Restrict the image width */
    height: auto; /* Maintain aspect ratio */
  }

  .card-content {
    flex: 2; /* Allow the content to take up the remaining space */
  }
}
