#root {
  --primary-color: #3498db; /* Blue */
  --secondary-color: #2ecc71; /* Green */
  --accent-color: #f39c12; /* Yellow/Orange */
  --background-color: #f0f2f5; /* Light grayish white */
  --text-color: #333333; /* Dark gray for text */
  --button-color: #e74c3c; /* Red */
  --link-color: #2980b9; /* Lighter blue for links */

  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.card {
  padding: 2em;
}

a {
  text-decoration: none;
}

.page-title {
  color: var(--background-color);
}

h3 {
  font-size: 1.5rem;
  margin-bottom: -1.5rem;
}

header {
  height: 4.5rem;
  margin-bottom: 30px;
}
